<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="extentReport.ExtentReporterNG" />
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/Bhumit/Desktop/SwagLabAutomation/src/main/resources">
        <classes>
            <class name="Tests.SwagLabItemCheckTest">
            </class>

        </classes>
    </test>
</suite>